body {
  font-family: Arial, sans-serif;
  background-color: rgb(1, 0, 9);
  padding: 30px;
}

.container {
  max-width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#output {
  margin-top: 20px;
}

.user {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.summary {
  margin-top: 15px;
  font-weight: bold;
}
